
/* All fonts */
* {
    font-family: 'Ubuntu', sans-serif;
}

/* The main body. */
body {
    background-color: #181818;
    text-align: center;
    margin: 0;
}

/* The header. */
.header {
    background-color: #993333;
    padding: 30px;
}

/* The footer. */
.footer {
    padding: 30px;
    vertical-align: bottom;
    font-size: 0.9em;
    color: #555;
}
.footnote {
    margin: 3px;
}
.footlink {
    text-decoration: underline;
    color: #666;
}

/* The links */
.links {
    background-color: #111;
    padding-top: 60px;
    padding-bottom: 60px;
    border-left: 40%;
    border-right: 40%;
}
.linkbox {
    display: inline-block;
    width: 35%;
    min-width: 300px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.link {
    border-radius: 40px;
    background-color: #222;
    font-size: 1.3em;
    font-weight: 600;
    color: #FFF;
    text-decoration: none;
    padding: 15px;
    margin: 20px;
    display: block;
}
.link:hover {
    background-color: #333;
}
.link:active {
    background-color: #444;
}

/* Titles */
.title {
    color: #FFF;
    font-weight: 600;
    margin: 0;
}
h1.title { 
    font-size: 2.5em;
}
h2.title  {
    font-size: 1.0em;
}