* {
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    color: white;
    text-decoration: none;
    z-index: 10;
}
body {
    margin: 0;
    display: grid;
    grid-template: "header" "middle" "content" "footer";
}

/** Disable scrollbars */
::-webkit-scrollbar { display: none; }

/** Static background image on bottom */
#background-image {
    position: fixed;
    z-index: 0;
}

/** Header container with see-through gradient background */
#header {
    grid-area: header;
    height: 100vh;
    background: linear-gradient(120deg, rgba(255,106,0,0.9), rgba(255,0,203,0.5));
    z-index: 1;
}

/** Header logo */
#logo { position: absolute; top: 40vh; margin: 5vw; }
#logo * { margin: 0 5vw; }
#logo h1 { font-size: 6vw; }
#logo h2 { font-size: 2vw; font-weight: 100; margin-left: 10vw; }

/** Scrolling link and its hover animation */
#header-scroll {
    bottom: 40px;
    left: calc(50% - 20px);
    position: fixed;
}
#header-scroll::before {
    content: '';
    position: absolute;
    background-color: white;
    width: 40px;
    height: 40px;
    opacity: 0;
    border-radius: 50%;
    transition: opacity 80ms ease-out;
}
#header-scroll:hover::before { opacity: 0.3; }

/** Links on top of header side by side in #toplinks container with hover animation */
#toplinks {
    position: absolute;
    margin: 20px;
    right: 0;
}
#toplinks * {
    display: inline-block;
    font-size: 0.8rem;
    padding: 0.7rem;
    opacity: 0.8;
    margin: 0.2rem;
}
.toplink {
    border-radius: 20px;
    background-color: rgba(255,255,255,0.2);
    transition: background-color 100ms ease-out;
}
.toplink:hover { background-color: rgba(255,255,255,0.4); }

/** Middle section with extra info */
#middle {
    background-color: white;
    text-align: left;
    padding: 30px 8%;
    grid-area: middle;
}
#middle * {
    color: black;
    opacity: 0.8;
    margin: 5px;
}
#middle h1 { font-size: 1.4rem; }
#middle h2 { font-size: 0.9rem; }

/** Content with link buttons to animations */
#links {
    background-color: #F2F2F2;
    display: grid;
    place-items: center;
}

/** Subgrid for links */
#link-container {
    margin: 4rem 0;
    display: inline-grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    place-items: center;
    grid-gap: 1rem;
    width: 80%;
}

/** Single link button */
.link {
    display: grid;
    place-items: center;
    background-color: rgba(255, 29, 63, 0.8);
    height: 80px;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 800;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition-property: background-color, width, box-shadow;
    transition-timing-function: ease-out;
    transition-duration: 400ms;
}
.link:hover {
    background-color: rgba(255, 29, 63, 1);
    width: 105%;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
    transition-duration: 100ms;
}

/** Simple footer with text and links */
#footer {
    grid-area: footer;
    background-color: white;
    text-align: center;
    padding: 30px;
    font-size: 0.9rem;
    line-height: 1.3rem;
    color: #AAA;
}
.footlink {
    color: #999;
    text-decoration: underline;
}