

/** MAIN STYLING */

* {
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    color: white;
    text-decoration: none;
}
body {
    margin: 0;
}
::-webkit-scrollbar { 
    display: none; 
}

/** HEADER STYLING */


#header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    height: 100vh;
}
#header h1 {
    position: absolute;
    font-size: 5rem;
    bottom: 35%;
    left: 10%;
    z-index: -8; 
}
#header h2 {
    position: absolute;
    font-size: 1.5rem;
    bottom: 37%;
    left: 16%;
    z-index: -8;
}
#header-image {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    z-index: -10;
    position: fixed;
}
#header::before {
    content: '';
    width: 100%;
    height: 100vh;
    background: linear-gradient(120deg, rgba(255,106,0,0.9), rgba(255,0,203,0.5));
    position: absolute;
    transition: opacity 200ms ease-in-out;
    z-index: -9;
}
#header-link {   
    left: calc(50% - 20px);
    bottom: 40px;
    height: 40px;
    width: 40px;
}
#header-button {
    left: calc(50% - 20px);
    bottom: 40px;
    z-index: -7;
    position: fixed;
}
#header-link::before {
    content: '';  
    left: calc(50% - 20px);
    bottom: 40px;
    position: fixed;
    background-color: white;
    width: 40px;
    height: 40px;
    opacity: 0;
    border-radius: 50%;
    transition: opacity 80ms ease-out;
}
#header-link:hover::before {
    opacity: 0.3;
}

/** MIDDLE STYLING */

#middle {
    background-color: white;
    text-align: left;
    padding: 30px 8%;
    font-size: 0.9rem; 
}
#middle h1 {
    color: black;
    opacity: 0.8;
}
#middle h2 {
    color: black;
    opacity: 0.8;
    font-size: 0.9rem;
    margin-top: -5px;
}

/** LINKS CONTENT STYLING */

#links {
    padding: 6rem 5%;
    text-align: center;
    display: inline-grid;
    grid-template: ". . ." 1fr ". . ." 1fr ". . ." 1fr / 1fr 1fr 1fr;
    grid-gap: 1rem;
    background-color: #F2F2F2;
    width: 90%;
    height: calc(3*100px);
}
.link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF1D3F;
    height: 100%;
    color: white;
    opacity: 0.8;
    font-size: 1.3rem;
    font-weight: 800;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background-color 500ms ease-out, height 500ms ease-out;
}
.link:hover {
    background-color: #FF6F6C;
    height: 110%;
    transition: background-color 200ms ease-out, height 200ms ease-out;
}

/** FOOTER STYLING */

#footer {
    background-color: white;
    text-align: center;
    padding: 30px;
    font-size: 0.9rem;
}
.footnote {
    color: #AAA;
    margin: 0.2rem;
}
.footlink {
    color: #999;
    text-decoration: underline;
}


/** ADJUSTMENTS FOR SMALLER SCREENS AND MOBILE */
@media (max-width: 1000px) {
    #links {
        grid-template: ". ." 1fr ". ." 1fr ". ." 1fr ". ." 1fr / 1fr 1fr;
        height: calc(4 * 100px);
    }
}
@media (max-width: 700px) {
    #links {
        grid-template: "." "." "." "." "." "." "." ".";
        height: calc(8 * 100px);
    }
    #header h1 {
        font-size: 2rem;
    }
    #header h2 {
        font-size: 1.0rem;
        bottom: 34%;
    }
}