
* {
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
body {
    background-color: #000;
    padding-top: 5%;
    display: grid;
    grid-template: "a" "b";
    place-items: center center;
}
#defaultCanvas0 {
    margin: 0;
    border: 0;
    padding: 0;
    grid-area: a;
}
#controls {
    display: inline-grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: repeat(5, 30px);
    text-align: left;
    grid-area: b;
    width: 250px;
    align-items: center;
    grid-gap: 5px 0;
}
#controls h1 {
    grid-area: 1 / 1 / span 2 / span 2;
}
#controls h2, p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0.3rem;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
}
#controls h2 {
    text-align: right;
}